#root-wrap{
	position: absolute;
	display: block;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	/*background-color: #000;*/
}
#main {
	position: relative;
	display: block;
	margin: 0 auto;
	padding-top: 1rem;
	width: 100%;
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
}
h1{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: auto;
	z-index: 999;
	display: block;
	width: 100%;
	min-height: 1rem;
	margin: 0rem;
	padding: 0 0 0 1rem;
	background-color: rgba(255,255,255,0.1);
	color: rgba(255,0,0,1);
	font-size: 1.1rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.15rem;
}
h1,h2,h3,h4,h5{
	display: block;
	margin: 0rem 0rem;
}

#sticky-tab{
	position: fixed;
	display: block;
	margin: 0 auto;
	top: 60vh;
	right: 0;
	width: 2rem;
	height: 2rem;
	background-color: rgba(255,255,255,0.7);
	color: #333;
	/*padding: 0.5rem;*/
	border-radius: 0.5rem 0 0  0.5rem;
	border: 1px #333 solid;
	z-index: 999;
	text-align: center;
	box-sizing: border-box;
}

#sticky-tab h2 {
	margin: 0;
	font-size: 1.2rem;
	line-height: 2rem;
}

#earth { /* crust / lithossphere 0-80km */
	position: relative;
	bottom: 0;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 800px;
	background: rgb(4,133,3);
	background: linear-gradient(180deg, rgba(4,133,3,1) 0%, rgba(121,101,9,1) 38%, rgba(216,217,154,1) 100%);
	border-top: 1px rgba(7,103,1,1) solid;
}
#atmosphere { /* 190km */
	position: relative;
	display: block;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	height: 1900000px;
	height: auto;
	background: rgb(2,0,36);
	/*background: linear-gradient(179deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 99.9%, rgba(199,239,247,1) 100%);*/

	background: linear-gradient(179deg, rgba(0,0,0,1) 0%, rgba(2,0,36,1) 99.8%, rgba(9,9,121,1) 99.95%, rgba(199,239,247,1) 100%);
	border-bottom: 1px rgba(255,255,255,0.7) solid;

	/*background: linear-gradient(179deg, rgba(0,0,0,1) 0%, rgba(2,0,36,1) 90.0%, rgba(9,9,121,1) 95.0%, rgba(199,239,247,0.7) 100%);
	border-bottom: 1px rgba(255,255,255,0.7) solid;*/
}

.layer{
	position: relative;
	display: block;
	width: 100%;
	min-height: 3rem; 
	border-top: 1px rgba(255,255,255,0.7) solid;
	z-index: 1;
}
.sublayer{
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	min-height: 3rem; 
	border-top: 1px rgba(255,255,255,0.7) solid;
	z-index: 10;
}

.boundry, .band{
	position: absolute;
	display: block;
	width: 100%;
	min-height: 3px;
}

.object{
	position: absolute;
	display: block;
	width: 1rem;
	height: 1rem;
	color: #333;
	/*padding: 0.5rem;*/
	border: 1px #333 solid;
	/*border-radius: 0.5rem 0 0  0.5rem;*/
	/*background-color: rgba(125,125,125,0.5)*/
	background-color: transparent;
	/*background-image: url();*/
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 100;
}

.rays{
	position: absolute;
	top:0;
	bottom:200px;
	display: block;
	width: 1rem;
	height: auto;
	color: #333;
	/*padding: 0.5rem;*/
	border: 1px #333 solid;
	background-color: rgba(125,125,125,0.5)
	z-index: 100;
}


.layer h3{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 11rem;
	height: 1.4rem;
	margin: 0.5rem 0.5rem;
	padding: 0 1.1rem 0 1.1rem;
	background-color: rgba(255,255,255,0.1);
	border-left: 3px rgba(255,255,255,0.7) solid;
	border-radius: 0 0  0.5rem 0;
	color: rgba(255,255,255,1);
	font-size: 0.9rem;
	line-height: 1.4rem;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 0.15rem;
}


/* atmo layers */
#exo{ /*  700 - 190,000km; 189,300,000m */
	height: 1893000px;
	height: 201800px;
}
#exo-base{ /*  700 - 1000km; 300k / 300000m  */
	height: 3000px;
	bottom: 0;
	background-color: rgba(2,0,36,0.3);
}
#thermo{ /* 80,000; 700,000; 620,000m */
	height: 6200px;
}
#meso{ /* 50,000 - 80,000; 30,000m */
	height: 300px;
}
#strato{ /* 12,000 - 50,000; 38,000m */
	height: 380px;
}
#tropo{ /* 0 - 12,000m */
	height: 120px;
}


/* boudries */
#vanallen-inner{ /* 13000 - 60000km */
	bottom: 10000px;
	height: 11000px;
	height: 100px;
	background: rgb(183,183,185);
	background: linear-gradient(180deg, rgba(183,183,185,0.2539390756302521) 0%, rgba(183,183,185,1) 49%, rgba(204,205,205,0.2147233893557423) 100%);
}

#vanallen-inner{ /* 1000 - 12000km */
	bottom: 10000px;
	height: 11000px;
	height: 100px;
	background: rgb(183,183,185);
	background: linear-gradient(180deg, rgba(183,183,185,0.2539390756302521) 0%, rgba(183,183,185,1) 49%, rgba(204,205,205,0.2147233893557423) 100%);
}

#ionosphere{ /* 80 to 550km */
	bottom: 800px;
	height: 4200px;
	background: rgb(7,213,247);
background: linear-gradient(180deg, rgba(7,213,247,0) 0%, rgba(15,140,246,0.2) 32%, rgba(5,176,236,0.006039915966386533) 100%);
}

#turbopause{ /* 100km */
	bottom: 1000px;
	height: 3px;
	background-color: rgba(155,155,155,0.1);
	border-top: 1px rgba(255,156,56,1) solid;
	color: rgba(255,156,56,1);
}

#ozone{ /* 15-35km */
	bottom: 150px;
	height: 200px;
	height: 3px;
	background: rgb(183,183,185);
	background: linear-gradient(180deg, rgba(183,183,185,0.2539390756302521) 0%, rgba(183,183,185,1) 49%, rgba(204,205,205,0.2147233893557423) 100%);
}

#karman-us{ /* 100000km */
	bottom: 200px;
	height: 1rem;
	background-color: rgba(155,155,155,0.1);
	border-top: 1px rgba(255,156,56,1) solid;
	color: rgba(255,156,56,1);
}
#karman-intl{ /* 80000km */
	bottom: 200px;
	height: 1rem;
	background-color: rgba(155,155,155,0.1);
	border-top: 1px rgba(255,156,56,0.5) solid;
	color: rgba(255,156,56,0.5);
}
#PBL{ /* 100-3000m */
	bottom: 1000px;
	height: 200px;
	height: 3px;
	background: rgb(183,183,185);
	background: linear-gradient(180deg, rgba(183,183,185,0.2539390756302521) 0%, rgba(183,183,185,1) 49%, rgba(204,205,205,0.2147233893557423) 100%);
}



#moon {/* 405400km apogee  1737.4 km mean radius */
	bottom: 4054000px;
	left: -8000px;
	height: 17374px;
	width: 17374px;

	/*top: -1727px;
	left: -0%;
	height: 1737px;
	width: 1737px;*/

	/*border-radius: 50%;*/
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: white;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/LRO_WAC_Nearside_Mosaic.jpg/1920px-LRO_WAC_Nearside_Mosaic.jpg);
	background-position: bottom center;
	/*background-size: 100% auto;*/
	z-index: 1;
}

/* space craft */
.spacecraft{
	position: absolute;
	display: inline-block;
	color: #333;
	/*padding: 0.5rem;*/
	border: 1px #333 solid;
	border-radius: 50%;
	background-color: rgba(145,145,145,0.9);
	z-index: 100;
}


#gps{/* 20180km */
	bottom: 201800px;
	left:10%;
	height: 9px;
	width: 9px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#glonass{/* 20180km */
	bottom: 201800px;
	left:10%;
	height: 9px;
	width: 9px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url(https://lh3.googleusercontent.com/proxy/gymnkgk9zg0noFJpEjTsprtHtRoP8mMbyMjJ3WNs-M_U1fYwMhn3RqWBqkVF2Ju4ox5cr9-BINxbtVqJRCYzS0i8kUWJAlRpWoGSGMGdVGtbnm3kcAlg5ME3wzf3nTVVV4pk0eqtiPesHA_lvLHpn4hrdWYCdgdDcg);*/
}

#sputnik{/* 939km */
	bottom: 9390px;
	left:20%;
	height: 3px;
	width: 3px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#shuttle { /* 220-620km  56x24m */
	bottom: 6200px;
	left:30%;
	height: 16px;
	width: 24px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/STS-123_Dextre%26Kibo_ELM-PS_in_orbit_%28cropped%29.jpg/220px-STS-123_Dextre%26Kibo_ELM-PS_in_orbit_%28cropped%29.jpg);
	background-image: url(https://greenerideal.com/wp-content/uploads/2011/06/space-shuttle.jpg);
	background-size: 400%;
	background-position-x: 80%;
	background-position-y: 50%;
	border:none;
}

#skylab{/* 441km */
	bottom: 4410px;
	left:40%;
	height: 5px;
	width: 11px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Skylab_%28SL-4%29.jpg/1200px-Skylab_%28SL-4%29.jpg);
}

#iss{ /* 400km */
	bottom: 4000px;
	left:50%;
	height: 35px;
	width: 50px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(https://freesvg.org/img/ISS_01b.png);
	background-size: 100%;
	background-position-x: 50%;
	background-position-y: 50%;
	border-radius: 2px;
	border:none;

	background-image: url(https://media.wired.com/photos/5d0015546874e00ab2efb677/master/pass/science_iss_iss056e201352.jpg);
	background-size: 266%;
	background-position-x: 51%;
	background-position-y: 26%;
	
}

#mir{ /* 374km */
	bottom: 3740px;
	left:60%;
	height: 18px;
	width: 18px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(https://freesvg.org/img/RP1357_p104_The_Mir_complex_as_of_June_1994.png);
	background-size: 100%;
	background-position-x: 50%;
	background-position-y: 50%;
	border-radius: 2px;
	border:none;
}

#ma9{/* 267m*/
	bottom: 2670px;
	left:70%;
	height: 4px;
	width: 6px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}


#mr3{/* 188km*/
	bottom: 1880px;
	left:90%;
	height: 4px;
	width: 6px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#X-15{/* 107km*/
	bottom: 1070px;
	left:80%;
	height: 4px;
	width: 6px;
	/*background-color: rgba(25,25,25,0.9)*/
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(https://cdn.mos.cms.futurecdn.net/33eT6HQxYv9ibb3yt3cgef-1200-80.jpg);
}



/* aircraft */
.aircraft{
	position: absolute;
	display: inline-block;
	color: #333;
	/*padding: 0.5rem;*/
	border: 1px #333 solid;
	border-radius: 50%;
	background-color: rgba(245,245,245,0.9);
	z-index: 100;
}

#SR-71{ /* 25,900m / 25.9km */
	bottom: 259px;
	left:32%;
	height: 10px;
	width: 10px;
	/*background-color: rgba(1,1,1,1);*/
	background-color: transparent;
	background-image: url(https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/images/335424main_EC90-0047-11_full.jpg);
	border:none;
}

#U-2{ /* 24000m*/
	bottom: 240px;
	left:68%;
	height: 10px;
	width: 10px;
	/*background-color: rgba(25,25,25,0.9);*/
	background-color: transparent;
	background-image: url(https://static.scientificamerican.com/sciam/cache/file/6D34AE99-6FDA-419A-867D51653C15E8B6_source.jpg?);
	border:none;
}

#concorde{ /* 18,300m*/
	bottom: 183px;
	left:55%;
	height: 20px;
	width: 20px;
	/*background-color: rgba(245,245,245,0.9);*/
	background-color: transparent;
	background-image: url(https://www.bosshunting.com.au/wp-content/uploads/2020/03/concorde-02.jpg);
	border:none;
}

#b747{/* 10668m */
	bottom: 106px;
	left:30%;
	height: 12px;
	width: 12px;
	/*background-color: rgba(245,245,245,0.9);*/
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(https://www.lufthansagroup.com/media/images/unternehmen/flotte/lufthansa/LH_B748_l.png);
	border:none;
}

#A380{/* 10664m */
	bottom: 106px;
	left:60%;
	height: 3px;
	width: 9px;
	background-color: rgba(245,245,245,0.9);
	background-color: rgba(125,125,125,0.5);
	background-color: transparent;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSap4GeX0RgWekhwGJ8VwTQY_p5xYP-32a9PA&usqp=CAU);
}
#chinook{/* 6100m*/
	bottom: 61px;
	left:45%;
	height: 3px;
	width: 6px;
	background-color: rgb(61,61,29,1);
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#huges{/* 5700m*/
	bottom: 57px;
	left:35%;
	height: 2px;
	width: 3px;
	background-color: rgba(245,245,245,0.9);
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}
#cesna{/* 5400m*/
	bottom: 54px;
	left:51%;
	height: 2px;
	width: 4px;
	background-color: rgba(245,245,245,0.9);
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-515538188-1570802545.jpg);*/
}

#baloon{/* 304m-900m m*/
	bottom: 9px;
	left:34%;
	height: 5px;
	width: 4px;
	background-color: rgba(245,10,10,0.9);
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url(https://overtherainbowhotairballoonrides.com/wp-content/uploads/2014/06/IMGP8038.jpg);*/
}
#zeplin{/* 610m*/
	bottom: 6px;
	left:65%;
	height: 3px;
	width: 7px;
	background-color: rgba(125,125,125,0.9);
	/*background-color: transparent;
	background-image: url(https://3iz4pu1r2cxqxc3i63gnhpmh-wpengine.netdna-ssl.com/wp-content/uploads/lz127-profile.jpg);*/
/*	https://i.guim.co.uk/img/media/6383ff664549b1792a605a9f5f86e7f6edd81920/126_0_5206_3125/master/5206.jpg?width=1200&quality=85&auto=format&fit=max&s=6dc464ac46ee7cffdd61576eb2451e3c

	https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/USS_Los_Angeles_moored_to_USS_Patoka%2C_1931.jpg/220px-USS_Los_Angeles_moored_to_USS_Patoka%2C_1931.jpg

	https://i2.wp.com/aerostories.free.fr/appareils/compopara/akron.JPG?resize=609%2C472*/
}

/* meteors */

/* Aurorae */

/* clouds */
/* Noctilucent */
/* lenticular */
/* Cumulonimbus */
/* Cumulus */
/* Cirrus */
/* Altocumulus */
/* Altostratus */
/* Stratus */



/*features*/
.feature{
	position: relative;
	display: inline-block;
	float: left;
	/*bottom: 0;*/
	top:0;
	margin-left: 1rem;
	border-radius: 50%  50% 0 0;
}

.water{
	background: rgb(3,223,228);
	background: linear-gradient(180deg, rgba(3,223,228,1) 0%, rgba(4,114,245,1) 32%, rgba(1,6,50,1) 100%);
	border-radius: 0 0 50%  50%;
}

.column{
	top:0;
	position: relative;
	width: 10rem;
	text-align: right;
}

.zone{
	position: relative;
	display: block;
	float: none;
	margin: 0 0 0 auto;
	width: 100%;
	min-height: 3px;
	background: none;
}

.hole{
	background: rgb(211,215,215);
background: linear-gradient(180deg, rgba(211,215,215,0) 0%, rgba(47,48,48,0.7287289915966386) 28%, rgba(0,8,10,0.9836309523809523) 100%);
}

#thing{ /*m*/
	top: 0px;
	height: 3px;
	width: 1px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url();
}
#everest{/* 8848m */
	top: -88.48px;
	height: 88.48px;
	width: 80px;
	background-color: rgba(125,125,125,1);
	background-color: transparent;
	background-image: url(https://mountainplanet.com/uploads/files/Mount-Everest-696x392.jpg);
}
#aconcagua{/* 6960el / 6960ht */
	top: -69.60px;
	height: 69.60px;
	width: 60px;
	background-color: rgba(125,125,125,1);
	background-color: transparent;
	background-image: url(https://mountainplanet.com/uploads/files/Mount-Everest-696x392.jpg);
}

#denali{/* 6190el / 6140ht */
	top: -61.90px;
	height: 61.90px;
	width: 60px;
	background-color: rgba(125,125,125,1);
	background-color: transparent;
	background-image: url(https://mountainplanet.com/uploads/files/Mount-Everest-696x392.jpg);
}
#ranier{/* 4392el / 4026ht */
	top: -43.92px;
	height: 43.92px;
	width: 40px;
	background-color: rgba(125,125,125,1);
	background-color: transparent;
	background-image: url(https://mountainplanet.com/uploads/files/Mount-Everest-696x392.jpg);
}
#fuji{/* 3776h 3776el*/
	top: -37.76px;
	height: 37.76px;
	width: 30px;
	background-color: rgba(125,125,125,1);
	background-color: transparent;
	background-image: url(https://mountainplanet.com/uploads/files/Mount-Everest-696x392.jpg);
}



#burjkhalifa{ /* 829.8m */
	top: -8.298px;
	height: 8.298px;
	width: 2px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(https://www.burjkhalifa.ae/images/burj_vector.png);
	background-image: url(http://www.skyscrapercenter.com/img/building-outlines/BurjKhalifa.png);
}
#onewtc{/* 541m */
	top: -5.41px;
	height: 5.41px;
	width: 2px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(http://www.skyscrapercenter.com/img/building-outlines/OneWTC.png);
}
#sears{ /* 527m */
	top: -5.27px;
	height: 5.27px;
	width: 2px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(http://www.skyscrapercenter.com/img/building-outlines/WillisTower.png);
}
#empire {/* 443.2m */
	top: -4.43px;
	height: 4.43px;
	width: 2px;
	background-color: rgba(125,125,125,0.5);
	background-color: transparent;
	background-image: url(https://www.skyscrapercenter.com/img/building-outlines/EmpireStateBuilding.png);
}
#eiffel{ /* 324m */
	top: -3.24px;
	height: 3.24px;
	width: 2px;
	background-color: rgba(125,125,125,0.5);
	background-color: transparent;
	background-image: url(https://i7.pngguru.com/preview/664/677/161/eiffel-tower-clip-art-eiffel-tower.jpg);
	background-image: url(http://www.skyscrapercenter.com/img/building-outlines/EiffelTower.png);
}
#pyramid{ /* Great Pyramid of Giza 138m*/
	top: -2px;
	height: 2px;
	width: 3px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(https://banner2.cleanpng.com/20180614/clw/kisspng-great-pyramid-of-giza-great-sphinx-of-giza-egyptia-egypte-5b22bda14b49b3.5606116915290034253084.jpg);
}



/* DEEP */
#kola{ /* 12,262m*/
	height: 122px;
	width: 1px;
	/*background-color: rgba(125,125,125,0.5);*/
}

#photic.water{ /* 200m */
	height: 2px;
	margin-left: 0rem;
	background-color: rgba(3,223,228,1);
}
#mesopelagic.water{ /* 200m - 1k*/
	height: 8px;
	width: 90%;
	background-color: rgba(4,114,245,1);
}
#bathyal.water{ /* 1k - 4k */
	height: 30px;
	width: 75%;
	background-color: rgba(4,114,245,1);
}
#abyssal.water{ /* 4k+ */
	height: 20px;
	width: 50%;
	background-color: rgba(4,114,245,1); 
}
#hadal.water{ /* 6km+ */
	height: 20px;
	width: 25%;
	background-color: rgba(1,6,50,1);
}

#mariana{ /* Mariana_Trench 10902m*/
	height: 109px;
	width: 50px;
	/*background-color: rgba(125,125,125,0.5);*/
}

/* Tooltip text */
.band .tooltiptext,
.boundry .tooltiptext,
.object .tooltiptext,
.zone .tooltiptext
 {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.band:hover .tooltiptext,
.boundry:hover .tooltiptext,
.object:hover .tooltiptext,
.zone:hover .tooltiptext {
  visibility: visible;
}