#root-wrap{
	position: absolute;
	display: block;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	/*background-color: #000;*/
}
#main {
	position: relative;
	display: block;
	margin: 0 auto;
	padding-top: 1rem;
	width: 100%;
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
}
h1{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: auto;
	z-index: 999;
	display: block;
	width: 100%;
	min-height: 1rem;
	margin: 0rem;
	padding: 0 0 0 1rem;
	background-color: rgba(255,255,255,0.1);
	color: rgba(255,0,0,1);
	font-size: 1.1rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.15rem;
}
#sticky-tab{
	position: fixed;
	display: block;
	margin: 0 auto;
	top: 60vh;
	right: 0;
	width: 2rem;
	height: 2rem;
	background-color: rgba(255,255,255,0.7);
	color: #333;
	/*padding: 0.5rem;*/
	border-radius: 0.5rem 0 0  0.5rem;
	border: 1px #333 solid;
	z-index: 999;
	text-align: center;
	box-sizing: border-box;
}
#sticky-tab h2 {
	margin: 0;
	font-size: 1.2rem;
	line-height: 2rem;
}
#earth {
	position: relative;
	bottom: 0;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 120px;
	background: rgb(4,133,3);
	background: linear-gradient(180deg, rgba(4,133,3,1) 0%, rgba(121,101,9,1) 38%, rgba(216,217,154,1) 100%);
	border-top: 1px rgba(7,103,1,1) solid;
}
#atmosphere { /* 100k */
	position: relative;
	display: block;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	height: 1900000px;
	background: rgb(2,0,36);
	/*background: linear-gradient(179deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 99.9%, rgba(199,239,247,1) 100%);*/
	background: linear-gradient(179deg, rgba(0,0,0,1) 0%, rgba(2,0,36,1) 99.9%, rgba(9,9,121,1) 99.95%, rgba(199,239,247,1) 100%);
	border-bottom: 1px rgba(255,255,255,0.7) solid;
}

.layer{
	position: relative;
	display: block;
	width: 100%;
	min-height: 3rem; 
	border-top: 1px rgba(255,255,255,0.7) solid;
}

.boundry, .band{
	position: absolute;
	display: block;
	width: 100%;
	min-height: 1rem;
}

.object{
	position: absolute;
	display: block;
	width: 1rem;
	height: 1rem;
	color: #333;
	/*padding: 0.5rem;*/
	border: 1px #333 solid;
	/*border-radius: 0.5rem 0 0  0.5rem;*/
	/*background-color: rgba(125,125,125,0.5)*/
	background-color: transparent;
	/*background-image: url();*/
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 100;
}


.layer h3{
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 11rem;
	height: 1.4rem;
	margin: 0.5rem 0.5rem;
	padding: 0 1.1rem 0 1.1rem;
	background-color: rgba(255,255,255,0.1);
	border-left: 3px rgba(255,255,255,0.7) solid;
	border-radius: 0 0  0.5rem 0;
	color: rgba(255,255,255,1);
	font-size: 0.9rem;
	line-height: 1.4rem;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 0.15rem;
}

#exo{ /*  700,000 - 190,000,000; 189,300,000m */
	height: 1893000px;
}
#thermo{ /* 80,000; 700,000; 620,000m */
	height: 6200px;
}
#meso{ /* 50,000 - 80,000; 30,000m */
	height: 300px;
}
#strato{ /* 12,000 - 50,000; 38,000m */
	height: 380px;
}
#tropo{ /* 0 - 12,000m */
	height: 120px;
}







/* boudries */
#karman-line{ /* 100000km */
	bottom: 200px;
	height: 1rem;
	background-color: rgba(155,155,155,0.1);
	border-top: 1px rgba(255,156,56,1) solid;
	color: rgba(255,156,56,1);
}

#ozone{ /* 15-35km */
	bottom: 150px;
	height: 200px;
	height: 100px;
	background: rgb(183,183,185);
	background: linear-gradient(180deg, rgba(183,183,185,0.2539390756302521) 0%, rgba(183,183,185,1) 49%, rgba(204,205,205,0.2147233893557423) 100%);
}

#moon {/* 405400km apogee  1737.4 km mean radius */
	top: -17274px;
	left: -8000px;
	height: 17374px;
	width: 17374px;

	/*top: -1727px;
	left: -0%;
	height: 1737px;
	width: 1737px;*/

	/*border-radius: 50%;*/
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: white;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/LRO_WAC_Nearside_Mosaic.jpg/1920px-LRO_WAC_Nearside_Mosaic.jpg);
	background-position: bottom center;
	/*background-size: 100% auto;*/
	z-index: 1;
}




/* space craft */
.spacecraft{
	position: absolute;
	display: inline-block;
	color: #333;
	/*padding: 0.5rem;*/
	border: 1px #333 solid;
	border-radius: 50%;
	background-color: rgba(145,145,145,0.9);
	z-index: 100;
}


#gps{/* 20180km */
	bottom: 201800px;
	left:10%;
	height: 9px;
	width: 9px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#sputnik{/* 939km */
	bottom: 9390px;
	left:20%;
	height: 3px;
	width: 3px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#shuttle { /* 220-620km  56x24m */
	bottom: 6200px;
	left:30%;
	height: 14px;
	width: 24px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#skylab{/* 441km */
	bottom: 4410px;
	left:40%;
	height: 5px;
	width: 11px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#iss{ /* 400km */
	bottom: 4000px;
	left:50%;
	height: 36px;
	width: 100%;
	width: 54px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#mir{ /* 374km */
	bottom: 3740px;
	left:60%;
	height: 16px;
	width: 12px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#ma9{/* 267m*/
	bottom: 2670px;
	left:70%;
	height: 4px;
	width: 6px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}


#mr3{/* 188m*/
	bottom: 0px;
	left:80%;
	height: 4px;
	width: 6px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}




/* aircraft */
.aircraft{
	position: absolute;
	display: inline-block;
	color: #333;
	/*padding: 0.5rem;*/
	border: 1px #333 solid;
	border-radius: 50%;
	background-color: rgba(245,245,245,0.9);
	z-index: 100;
}

#SR-71{/* 25,900m */
	bottom: 25900px;
	left:80%;
	height: 3px;
	width: 7px;
	background-color: rgba(10,10,10,0.9);
	/*background-color: transparent;
	background-image: url();*/
}

#U-2{/* 24000m*/
	bottom: 2400px;
	left:80%;
	height: 2px;
	width: 5px;
	background-color: rgba(25,25,25,0.9);
	/*background-color: transparent;
	background-image: url();*/
}
#b747{/* 10668m */
	bottom: 1066px;
	left:80%;
	height: 3px;
	width: 9px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#A380{/* 10664m */
	bottom: 1066px;
	left:80%;
	height: 3px;
	width: 9px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}
#chinook{/* 6100m*/
	bottom: 610px;
	left:80%;
	height: 3px;
	width: 6px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#huges{/* 5700m*/
	bottom: 570px;
	left:80%;
	height: 2px;
	width: 3px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}
#cesna{/* 5400m*/
	bottom: 540px;
	left:80%;
	height: 2px;
	width: 4px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}

#baloon{/* 304m-900m m*/
	bottom: 90px;
	left:80%;
	height: 5px;
	width: 4px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}
#zeplin{/* 610m*/
	bottom: 6px;
	left:80%;
	height: 3px;
	width: 7px;
	/*background-color: rgba(125,125,125,0.5);*/
	/*background-color: transparent;
	background-image: url();*/
}






/*features*/
.feature{
	position: relative;
	display: inline-block;
	float: left;
	/*bottom: 0;*/
	top:0;
	margin-left: 1rem;
	border-radius: 50%  50% 0 0;
}

.water{
	background: rgb(3,223,228);
	background: linear-gradient(180deg, rgba(3,223,228,1) 0%, rgba(4,114,245,1) 32%, rgba(1,6,50,1) 100%);
	border-radius: 0 0 50%  50%;
}

#thing{ /*m*/
	top: 0px;
	height: 3px;
	width: 1px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url();
}
#everest{/* 8848m */
	top: -88.48px;
	height: 88.48px;
	width: 80px;
	background-color: rgba(125,125,125,1);
	background-color: transparent;
	background-image: url(https://mountainplanet.com/uploads/files/Mount-Everest-696x392.jpg);
}
#aconcagua{/* 6960el / 6960ht */
	top: -69.60px;
	height: 69.60px;
	width: 60px;
	background-color: rgba(125,125,125,1);
	background-color: transparent;
	background-image: url(https://mountainplanet.com/uploads/files/Mount-Everest-696x392.jpg);
}

#denali{/* 6190el / 6140ht */
	top: -61.90px;
	height: 61.90px;
	width: 60px;
	background-color: rgba(125,125,125,1);
	background-color: transparent;
	background-image: url(https://mountainplanet.com/uploads/files/Mount-Everest-696x392.jpg);
}
#ranier{/* 4392el / 4026ht */
	top: -43.92px;
	height: 43.92px;
	width: 40px;
	background-color: rgba(125,125,125,1);
	background-color: transparent;
	background-image: url(https://mountainplanet.com/uploads/files/Mount-Everest-696x392.jpg);
}
#fuji{/* 3776h 3776el*/
	top: -37.76px;
	height: 37.76px;
	width: 30px;
	background-color: rgba(125,125,125,1);
	background-color: transparent;
	background-image: url(https://mountainplanet.com/uploads/files/Mount-Everest-696x392.jpg);
}



#burjkhalifa{ /* 829.8m */
	top: -8.298px;
	height: 8.298px;
	width: 2px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(https://www.burjkhalifa.ae/images/burj_vector.png);
	background-image: url(http://www.skyscrapercenter.com/img/building-outlines/BurjKhalifa.png);
}
#onewtc{/* 541m */
	top: -5.41px;
	height: 5.41px;
	width: 2px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(http://www.skyscrapercenter.com/img/building-outlines/OneWTC.png);
}
#sears{ /* 527m */
	top: -5.27px;
	height: 5.27px;
	width: 2px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(http://www.skyscrapercenter.com/img/building-outlines/WillisTower.png);
}
#empire {/* 443.2m */
	top: -4.43px;
	height: 4.43px;
	width: 2px;
	background-color: rgba(125,125,125,0.5);
	background-color: transparent;
	background-image: url(https://www.skyscrapercenter.com/img/building-outlines/EmpireStateBuilding.png);
}
#eiffel{ /* 324m */
	top: -3.24px;
	height: 3.24px;
	width: 2px;
	background-color: rgba(125,125,125,0.5);
	background-color: transparent;
	background-image: url(https://i7.pngguru.com/preview/664/677/161/eiffel-tower-clip-art-eiffel-tower.jpg);
	background-image: url(http://www.skyscrapercenter.com/img/building-outlines/EiffelTower.png);
}
#pyramid{ /* Great Pyramid of Giza 138m*/
	top: -2px;
	height: 2px;
	width: 3px;
	/*background-color: rgba(125,125,125,0.5);*/
	background-color: transparent;
	background-image: url(https://banner2.cleanpng.com/20180614/clw/kisspng-great-pyramid-of-giza-great-sphinx-of-giza-egyptia-egypte-5b22bda14b49b3.5606116915290034253084.jpg);
}

/* DEEP */
#mariana{ /* Mariana_Trench 10902m*/
	height: 109px;
	width: 50px;
	/*background-color: rgba(125,125,125,0.5);*/
}

/* Tooltip text */
.object .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.object:hover .tooltiptext {
  visibility: visible;
}